USE [master]
GO
/****** Object:  Database [EventosDB]    Script Date: 06-07-2021 19:45:32 ******/
CREATE DATABASE [EventosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EventosDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\EventosDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EventosDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\EventosDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EventosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EventosDB]
GO
USE [EventosDB]
GO
/****** Object:  Table [dbo].[Asistente]    Script Date: 06-07-2021 19:45:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asistente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rut] [varchar](30) NULL,
	[Nombre] [varchar](30) NULL,
	[Apellido] [varchar](30) NULL,
	[Edad] [int] NULL,
	[Empresa] [varchar](30) NULL,
	[Estado] [varchar](30) NULL,
	[IdRegion] [int] NOT NULL,
 CONSTRAINT [PK_Asistente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 06-07-2021 19:45:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](30) NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asistente]  WITH CHECK ADD  CONSTRAINT [FK_Asistente_Region] FOREIGN KEY([IdRegion])
REFERENCES [dbo].[Region] ([Id])
GO
ALTER TABLE [dbo].[Asistente] CHECK CONSTRAINT [FK_Asistente_Region]
GO
USE [master]
GO
